/* h2 {
    max-width: 200px;
} */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e5d4c0;
    color: #495159;
    /* border-radius: 10px; */
}


header{
    background-color: #c5decd;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: #495159;
}

footer {
    background-color: #c5decd;
    padding: 1%;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.playlist-cards {
    display: flex;
    border-radius: 20px;
    flex-wrap: wrap;
    /* flex-basis: 150pt; */
    justify-content: flex-start;
}

img {
    /* object-fit: contain; */
    /* max-width: 9; */
    /* max-height: 60%; */
    border-radius: 20px;
}

.card:hover{
    /* width: 101%; */
    border-color: #a1e8cc;
    border-width: thick;
}

.card {
    margin: 1%;
    border: navy;
    border-style: outset;
    border-radius: 20px 20px;
    color: #495159;
    min-width: 150pt;
    width: 20%;
    height: 25%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    /* background-color: #; */


    /* height: % */
}

.playlist-thumbnail {
    width: 100%;
}

.like-bar{
    display: flex;
    align-content: start;
    align-self: center;
    justify-content: center;

}

.like-bar:hover {
    color:#c5decd;
}

.like-icon{
    width: 13%;
    height: 10%;
    border-radius: 0%;
    z-index: 1;
    padding: 10%;
    padding-right: 2%;
}

.like-icon:hover{
    width: 14%;
    height: 11%;
    color:#a1e8cc;
}

#modal-overlay{
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    top: 0;
    /* padding: 20%; */
    /* width: 100%; Full width */
    /* height: 100%; Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity*/
    width: 100%;
    height: 100%;
    /* display: flex; */
    align-self: center;
}

.modal-content{
    display: flex;
    background-color: #c5decd;
    border-radius: 20%;
    /* margin-right: 30% */

}

.cover-art{
    width: 20%
}

.close {
    /* position: absolute;
    top: 0;
    right: 0 */
    float: right;
    order: 1;
    max-height: 6%
}

.song-card{
    border: solid;
    border-color: #495159;
    border-radius: 10%;
}

#single-thumbnail{
    max-height: 30%;
    max-width: 30%;
}

#shuffle-button{
    background-color: #a1e8cc;
    padding: 5%;
    border-radius: 10px;
    color: #495159;
    text-align: center;
}
