/* h2 {
    max-width: 200px;
} */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e5d4c0;
    color: #495159;
    /* border-radius: 10px; */
}


header{
    background-color: #c5decd;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: #495159;
}

footer {
    background-color: #c5decd;
    padding: 1%;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.playlist-cards {
    display: flex;
    border-radius: 20px;
    flex-wrap: wrap;
    /* flex-basis: 150pt; */
    justify-content: flex-start;
}

img {
    /* object-fit: contain; */
    /* max-width: 9; */
    /* max-height: 60%; */
    border-radius: 20px;
}

.card:hover{
    /* width: 101%; */
    border-color: #a1e8cc;
    border-width: thick;
}

.card {
    margin: 1%;
    border: navy;
    border-style: outset;
    border-radius: 20px 20px;
    color: #495159;
    min-width: 72pt;
    width: 20%;
    height: 25%;
    padding: 2%


    /* height: % */
}

.playlist-thumbnail {
    width: 100%
}

/* .like{
    max-width:
} */

.modal-content{
    display: flex;

}

/* .modal-overlay{
    position: fixed;
} */

.cover-art{
    width: 20%
}

.close {
    /* position: absolute;
    top: 0;
    right: 0 */
    float: right;
    order: 1
}

#single-thumbnail{
    max-height: 30%;
    max-width: 30%;
}
