/* h2 {
    max-width: 200px;
} */

body {
    font-family: 'Arial', sans-serif;

    background-color: #e5d4c0;
    color: #495159;
}


header{
    background-color: #c5decd;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: #495159;
}

footer {
    background-color: #c5decd;
    padding: 1%;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.playlist-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.card {
    border: navy;
    border-style: outset;
    border-radius: 20px;
    color: #495159;
    margin: 2%;
    text-wrap: wrap;

}

.card:hover {
    border-color: #a1e8cc;
    border-width: thick;
}

.playlist-thumbnail {
    border-radius: 20px;
    min-width: 150pt;
}

.like-bar:hover {
    color: #a1e8cc
}

#modal-overlay{
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    top: 0;
    /* padding: 20%; */
    /* width: 100%; Full width */
    /* height: 100%; Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity*/
    width: 100%;
    height: 100%;
}

.modal-content{
    display: flex;
    flex-direction: column;
    background-color: #c5decd;
    border-radius: 20px;
    margin: 10%

}

#single-thumbnail {
    width: 30%;
    height: 30%;
}

/* .cover-art{
    width: 20%;
    height: 20%;
} */

.close {
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    order: 1;
    max-height: 6%
}

.song-card{
    display: flex;
    flex-direction: row;
    border: solid;
    border-color: #495159;
    border-radius: 0%;
    margin: 2%;
}

.cover-art {
    width: 29%;
    height: 29%;
}

.song-info {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-left: 10%;
}

#shuffle-button{
    background-color: #e5d4c0;
    padding: 5%;
    border-radius: 10px;
    color: #495159;
    text-align: center;
    margin: 5%
}

#shuffle-button:hover {
    background-color: #a1e8cc
}
